body {
  background-color: #5996f7;
}

h1 {
  color: white;
  text-align: center;
  font-size: 25px;
}

p {
  font-family: Times New Roman;
  font-size: 16px;
}

a {
  color: red;
  text-align: center;
  font-size: 18px;
}
